# Docker Compose — PostgreSQL
POSTGRES_USER=sauver
POSTGRES_PASSWORD=                   # choisir un mot de passe fort
POSTGRES_DB=sauver_la_face

# Docker Compose — MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=                 # minimum 8 caractères
